<html ng-app="bnb">
  <head>
    <title>Believe or not believe</title>
    <link rel="stylesheet" type="text/css" href="node_modules/bootstrap/dist/css/bootstrap.css"/>
    <link rel="stylesheet" type="text/css" href="assets/css/styles.css"/>
    <script src="node_modules/angular/angular.min.js"></script>
    <script src="node_modules/jquery/dist/jquery.min.js"></script>
    <script src="node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="assets/js/data.js"></script>
    <script src="assets/js/engine.js"></script>
    <meta content="">
  </head>
  <body>
      <div class="desk" id="opponent" ng-controller="gameController as cards">
          <div ng-repeat="card in cards" class="card">
              <img ng-src="{{card.pic}}"/>
              <span>{{card.name}}</span>
          </div>
      </div>
      <div class="desk" id="me" ng-controller="gameController as cards" ng-click="">
          <div ng-repeat="card in cards" class="card">
              <img ng-src="{{card.pic}}"/>
              <span>{{card.name}}</span>
          </div>
      </div>
  </body>
</html>