body {background: #408447}
.desk {
    max-height:420px;
    border : 1px solid white;
    position: fixed;
    left:10%;
    right:10%;
    display:inline-block;
}
.desk:empty{ 
    border: none;
}
#opponent {
    top : 0;
}
#me {
    bottom:0;
}
div.card {
    color: #000;
    padding: 20px;
    float:left;
    text-align: center;
}
div.card:hover {
    cursor : pointer;
}
.active {
    color : #fff;
    cursor : pointer;
    background: #56965D;
}

div.card > img{
    display:block;
}

nav.menu {
    width: 170px;
    height:100%;
    background:transparent !important;
}
nav.menu button {
    width: 140px;
    margin: 0 auto;
    position: fixed;
}
#field {
top: 250px;
background: rgb(150, 187, 132);
}
