<nav class="navbar navbar-default navbar-left menu">
  <div class="container">
      <br />
      <fieldset>
          <select ng-model="promisedCards" ng-options="o as o for o in cardTypes" class="form-control" ng-change="choosePromised()" ng-disabled="!youFirst"></select>
          <br />
      <span>Cards number: {{buffer.length}}</span>
      </fieldset>
      <br />
      <button class="btn btn-default" ng-click="send()" 
              style="top:150px;" ng-disabled="!buffer.length || (!yourStep && !youFirst)">Add selected</button>
              
      <button class="btn btn-default" ng-click="dropTheQuartet()" 
              style="top:150px;">Drop the Quartet</button>

              
      <button class="btn btn-danger" style="bottom:50px;" 
              ng-disabled="!yourStep || youFirst" ng-click="dontBelieve()">I don`t believe you!</button>
  </div>
</nav>
