<nav class="navbar navbar-default navbar-left menu">
  <div class="container">
      <br />
      <fieldset>
          <select class="form-control"  ng-disabled="!youFirst" ng-model="promisedCards" ng-init="promisedCards = cardTypes[0].card">
              <option ng-repeat="opt in cardTypes" ng-disabled="opt.disabled" value="{{opt.card}}">{{opt.card}}</option>
          </select>
          <br />
      <span>Cards number: {{buffer.length}}</span>
      </fieldset>
      <br />
      <button class="btn btn-default" ng-click="send()" 
              style="top:150px;" ng-disabled="!buffer.length || (!yourStep && !youFirst)">Add selected</button>
              
      <button class="btn btn-default" ng-click="dropTheQuartet()" 
              style="top:300px;">Drop the Quartet</button>

              
      <button class="btn btn-danger" style="bottom:50px;" 
              ng-disabled="!yourStep || youFirst" ng-click="dontBelieve()">I don`t believe you!</button>
  </div>
</nav>
